.about-me {
  height: 182px;
  width: 70vw;
  margin: 0 auto;
  margin-top: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.1rem !important;
  /* font-family: "Lexend", sans-serif; */
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}

.about-content strong {
  color: #000000;
}

body.dark .about-content p,
body.dark .about-content strong {
  color: #fff;
}

.contact-link {
  color: #007bff;
}

.contact-link:hover {
  text-decoration: underline;
}

.aboutImg {
  top: -39%;
  right: 1%;
}
