/* General Project Container */
.projects-container {
  width: 70vw;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
}

.timeline {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.project-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.project-card {
  width: 37vw;
  height: auto;
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 20px;
  margin-left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  border: none;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.project-card::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* No background by default */
  transition: background-color 0.5s ease; /* Smooth transition for the blackish layer */
  z-index: 1; /* Ensure it's above the image */
}

.project-card:hover::after {
  background-color: rgba(0, 0, 0, 0.698); /* Blackish layer with 50% opacity */
}

.project-card img {
  width: 37vw;
  height: auto;
  position: relative;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease-in-out;
  aspect-ratio: 16/9;
}

/* Overlay for links */
.links-overlay {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the icons */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10; /* Make sure it's above the image */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Disable interactions initially */
}

/* Show the overlay when hovering the card */
.project-card:hover .links-overlay {
  opacity: 1; /* Show icons on hover */
  pointer-events: auto; /* Enable interactions */
}

.link-btn {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #ebecf3;
  margin: 10px;
  color: #000000;
  font-size: 1.3em;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.link-btn:hover {
  color: #007bff;
}

/* Project details section */
.project-details {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-details h3 {
  font-size: 1.8em;
  margin: 0;
  color: #000;
  font-weight: 600;
}

.project-details p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #000;
}

body.dark .project-details h3,
body.dark .project-details p {
  color: white;
}

.project-details .tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background-color: #cce5ff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
  margin-right: 5px;
  margin-bottom: 5px;
}

body.dark .tag {
  color: #007bff;
  background-color: #09223c;
}

/* Show More Button */
.show-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.show-more-btn {
  background: none;
  border: none;
  color: #000000;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark .show-more-btn {
  color: white;
}

.show-more-btn:hover {
  color: rgb(0, 123, 255);
}

body.dark .show-more-btn:hover {
  color: rgb(0, 123, 255);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  transition: transform 0.4s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}
