.skills-section {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.skills-title {
  font-size: 2rem;
  color: #1e1e1e;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 65px;
}

.skill-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease;
}

body.dark .skill-card {
  background-color: #061130;
}

.skill-card:hover {
  transform: scale(1.15);
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 0.9rem;
  color: #000000;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

body.dark .skill-name {
  color: white;
}
